.env
.env.*
!.env.example

vendor/
node_modules/
.vscode/

*.log
*.tmp
*.bak
proxy_output.html

# Database files - jangan di-commit ke repo
database.sql
database-seed-dummy-data.sql

mm-iot-esp32-main/build/
mm-iot-esp32-main/**/build/
mm-iot-esp32-main/mm-iot-esp32-main/
mm-iot-esp32-main/**/*.elf
mm-iot-esp32-main/**/*.bin
mm-iot-esp32-main/**/*.map

.DS_Store
Thumbs.db
