<?php

return [
    'host' => 'localhost',
    'dbname' => 'your_database_name',
    'username' => 'your_database_username',
    'password' => 'your_database_password',
    'charset' => 'utf8mb4',
];
